{% extends "::base_login.html.twig" %}
{% block body %}
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <h1 class="error-number">Eror 403</h1>
                        <h2>Access denied</h2>
                        <div class="mid_center">
                            <a href="/" class="btn btn-default btn-block" type="button">Go to Home!</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>
{% endblock %}