{% extends "::base_login.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="jumbotron vertical-center centered-block">
        <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    </div>
{% endblock body %}